<ion-header>
  <ion-navbar>
    <ion-title>Products Stats</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header *ngIf="true" text-center>
      List of Products
    </ion-list-header>
    <ion-item *ngFor="let product of productService.listProducts | async; let i=index">
      <ion-grid>
        <ion-row>
          <ion-col col-2>
            <div *ngIf="!product.thumbnailImageUrl">
              <img src="assets/imgs/noPhoto.png" />
            </div>
            <div *ngIf="product.thumbnailImageUrl">
                <img src="{{product.thumbnailImageUrl}}" />
            </div>
          </ion-col>
          <ion-col col-8 (click)="goToDetails(product)">
            <div>
              <h2 class="product-name"> {{product.name}} </h2>
              <h3 class="product-name"><ion-note>Categoria: </ion-note> {{product.brand}} </h3>
            </div>
          </ion-col>
        
          <ion-col col-2>
            <button  (click)="addRegistry(product)">
              <ion-icon color="dark" name="md-add"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-fab class="addButtonfab">
    <button ion-fab mini class="addButton" round icon-only (click)="addProducts()">
      <ion-icon color="dark" name="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>