<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header *ngIf="true">
      Lista de Productos
    </ion-list-header>
    <ion-item *ngFor="let product of productService.listProducts | async; let i=index">
      <ion-grid>
        <ion-row>
          <ion-col col-2>

            <img src="{{product.thumbnailImageUrl}}" />
          </ion-col>
          <!-- <ion-col col-8>
            <div>
              <h2 class="product-name"> {{product.name}} </h2>
            </div>
          </ion-col> -->
          <ion-col col-8>

              <canvas baseChart
               
              width="300"
              height="200"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"
                  ></canvas>
          </ion-col>
          <ion-col col-2>
            <button  (click)="addRegistry(product)">
              <ion-icon color="dark" name="md-add"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-fab class="addButtonfab">
    <button ion-fab mini class="addButton" round icon-only (click)="addProducts()">
      <ion-icon color="dark" name="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>